<footer class="footer">
    <div class="container-fluid">
        {% comment %} <ul class="nav">
            <li class="nav-item">
                <a target="_blank" href="https://www.creative-tim.com/product/black-dashboard-django" class="nav-link">
                    Download
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://www.creative-tim.com/support" class="nav-link">
                    Support
                </a>
            </li>
        </ul> {% endcomment %}
        <div class="copyright mx-auto float-none text-center">
            &copy; <a href="#top">SISTEMA NACIONAL DE SALUD</a> - coded by KALANTEAM.
        </div>
    </div>
</footer>
