{% load static %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body">
                <div class="row" >
                    <div class="font-icon-list col">
                        <img src="/media/logos/logo1.png" alt="" id="logoImg"> 
                    </div>
                    <div class="font-icon-list col">
                        <img src="/media/logos/logo2.png" alt="" id="logoImg">
                    </div>
                    <div class="font-icon-list col">
                        <img src="/media/logos/logo3.png" alt="" id="logoImg">
                    </div>
                    <div class="font-icon-list col">
                        <img src="/media/logos/logo4.png" alt="" id="logoImg">
                    </div>
                    <div class="font-icon-list col ">
                        <img src="/media/logos/logo5.png"  alt="" id="logoImg">
                    </div>
                    <div class="font-icon-list col">
                        <img src="/media/logos/logo6.png" alt="" id="logoImg">
                    </div>
                    <div class="font-icon-list col">
                        <img src="/media/logos/logo7.png" alt="" id="logoImg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>