{% load static %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body">
                <div class="row">
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo1.png' %}"  class="" >
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo2.png' %}"  class="" >
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo3.png' %}"  class="" >
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo4.png' %}"  class="" >
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo5.png' %}"  class="" >
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo6.png' %}"  class="" >
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'media/logos/logo7.png' %}"  class="" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>