{% load static %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body">
                <div class="row">
                    <div class="font-icon-list col">
                        <img src="{{ MEDIA_URL}} logos/logo1.url"  alt="" id="logo"> 
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'assets/img/logos/logo2.png' %}"  alt="" id="logo">
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'assets/img/logos/logo3.png' %}"  alt="" id="logo">
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'assets/img/logos/logo4.png' %}"  alt="" id="logo">
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'assets/img/logos/logo5.png' %}" alt="" id="logo">
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'assets/img/logos/logo6.png' %}"   alt="" id="logo">
                    </div>
                    <div class="font-icon-list col">
                        <img src="{% static 'assets/img/logos/logo7.png' %}"  alt="" id="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>