<div class="card">
    <table class="table table-striped table-hover" id="tabla_localidades">
        <thead>
            <tr>
                <th class="text-center">Clave</th>
                <th>Nombre</th>
                <th>Municipio</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Localidad in Localidades %}
            <tr>
                <td class="text-center">{{ Localidad.clave }}</td>
                <td>{{ Localidad.nombre }}</td>
                <td>{{ Localidad.municipio.nombre }}</td>
                <td class="td-actions text-center">
                    <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon" data-toggle="modal" data-target="#editLocalidadModal" title="Editar" onclick="editLocalidad('{% url 'editLocalidad' Localidad.id %}', '{{Localidad.clave}}', '{{Localidad.nombre}}', '{{Localidad.municipio.id}}')">
                        <i class="tim-icons icon-settings"></i>
                    </button>
                    <a href="{% url 'delLocalidad' Localidad.pk %}" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon" title="Eliminar">
                        <i class="tim-icons icon-simple-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right" style="width: 100%;">
        <button class="btn btn-primary btn-fab btn-lg btn-icon btn-round" style="margin: 20px;" title="Añadir nuevo"
            data-toggle="modal" data-target="#addLocalidadModal">
            <i class="tim-icons icon-simple-add"></i>
        </button>
    </div>
</div>

<!-- MODAL AGREGAR LOCALIDAD -->
<div class="modal fade" id="addLocalidadModal" tabindex="-1" aria-labelledby="addLocalidadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addLocalidadModalLabel">Agregar nueva Localidad</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'addLocalidad' %}" method="post">
                    {% csrf_token %}
                        <h4 class="modal-title">Individual</h4>
    
                        {{ formAddLocalidad }}
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" name="ExcelMunicipio">Guardar</button>
                    </div>
                </form>
                <div class="dropdown-divider"></div>
                <form action="{% url 'LocalidadExcel' %}" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                        <h4 class="modal-title">Con Excel</h4>
                        {{ formExcelLocalidad }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" name="ExcelMunicipio">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDITAR LOCALIDAD -->
<div class="modal fade" id="editLocalidadModal" tabindex="-1" role="dialog" aria-labelledby="editLocalidadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="editLocalidadModalLabel">Editar Localidad</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <form method="post" id="editLocalidadForm">
                {% csrf_token %}
                <div class="modal-body">

                    {{ formEditLocalidad }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div> 