
{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Usuarios {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block jumbotron %}
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Image uploader</h1>
      <p class="lead">This is just a simple view to upload images to an album.</p>

    </div>
{% endblock %}

{% block content %}
<div class="content">
        {% include 'includes/logos.html' %}
        {% include 'includes/mensajes.html' %}
        <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col text-left">
                                    <h2 class="card-title">Administrador de Logos de base de datos</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseLogos" aria-expanded="false" aria-controls="collapseLogosHeading">
                                Logos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
              <div class="row">
              {% for logos in object_list %}
                <div class="col-md-4">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{{logo.imagen.url}}" alt="Logo de"></img>
                            <div class="card-body">
                              <h4 class="card-title mb-3">{{logos.titulo}}</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseLogos" aria-expanded="false" aria-controls="collapseLogosHeading">
                                Logos
                            </a>
                        </div>
                    </a>
                </div>
              {% endfor %}
              </div>
            </div>

            <div id="collapseLogos" class="collapse" role="tabpanel" aria-labelledby="collapseLogosHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Logos</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/Logos.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal-diaog modal-lg" role"document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Edición de Logos: {{ object }}</h2>
      <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form enctype="multipart/form-data" action="{% url 'logo:actualizarLogo' object.id %}" method="POST" id="form_edicion"> 
        {% csrf_token %}
        <div class="modal-body">
          <div id="errorActualizacion">

          </div>
          {{ form.as_p }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" onclick="cerrar_modal_actualizar();">Cancelar</button>
          <button id="boton_actualizar" class="btn btn-primary" type="button" onclick="actualizar();">Confirmar</button>
        </div>
    </form>
    <p><a href="{% url 'index.html' %}">Regresar</a></p>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
