{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Logos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        {% include 'includes/logos.html' %}
        {% include 'includes/mensajes.html' %}
      <div role="tablist" aria-multiselectable="true" class="editLogo">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col text-left">
                    <h2 class="card-title">Administrador de logos</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                {% include 'home/Director/editar_logos.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
<script>
  function editLogo(url, id, titulo, logo) {
        // Obtener el formulario
        const form = document.getElementById('editLogoForm');
      
        // Asignar los valores a los inputs del formulario
        console.log(titulo);
        console.log(logo);
        form.querySelector('#editLogo_titulo').value = titulo;
        form.querySelector('#editLogo_logo').value = logo;
      
        // Modificar el action del formulario
        form.action = url;
    }

    {% if presionar %}
        document.getElementById("btn{{ btnPresionar }}").click()
    {% endif %}
</script>