{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        {% include 'includes/logos.html' %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="card-title">Administrador de grupos</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-3">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}
                            </div>
                            <div class="row">
                                <div class="col-md-4"> 
                                    <input class="btn btn-info animation-on-hover" type="submit" value="Guardar">
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#id_groups').select2({
            includeSelectAllOption: true,
            closeOnSelect: false
        });
    });
</script>
{% endblock javascripts %}
