{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Tablas Catalogos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        {% include 'includes/logos.html' %}
        {% include 'includes/mensajes.html' %}
        <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col text-left">
                                    <h2 class="card-title">Administrador de tablas de base de datos</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a id="btnEntidad" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseEntidad" aria-expanded="false" aria-controls="collapseEntidadHeading">
                                Entidad
                            </a>
                            <a id="btnJurisdiccion" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseJurisdiccion" aria-expanded="false" aria-controls="collapseJurisdiccionHeading">
                                Jurisdiccion
                            </a>
                            <a id="btnMunicipio" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseMunicipio" aria-expanded="false" aria-controls="collapseMunicipioHeading">
                                Municipio
                            </a>
                            <a id="btnLocalidad" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseLocalidad" aria-expanded="false" aria-controls="collapseLocalidadHeading">
                                Localidad
                            </a>
                            <a id="btnInstitucion" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseInstitucion" aria-expanded="false" aria-controls="collapseInstitucionHeading">
                                Institucion
                            </a>
                            <a id="btnEstablecimiento" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseEstablecimiento" aria-expanded="false" aria-controls="collapseEstablecimientoHeading">
                                Establecimiento
                            </a>
                            <a id="btnTipologia" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseTipologia" aria-expanded="false" aria-controls="collapseTipologiaHeading">
                                Tipologia
                            </a>
                            <a id="btnUnidades" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseUnidades" aria-expanded="false" aria-controls="collapseUnidadesHeading">
                                Unidades
                            </a>
                            <a id="btnLogos" class="btn btn-info animation-on-hover" data-parent="#accordion" data-toggle="collapse" href="#collapseLogos" aria-expanded="false" aria-controls="collapseLogosHeading">
                                Logos
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseEntidad" class="collapse" role="tabpanel" aria-labelledby="collapseEntidadHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Entidades</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/entidades.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseJurisdiccion" class="collapse" role="tabpanel" aria-labelledby="collapseJurisdiccionHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Jurisdicciones</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/jurisdicciones.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseMunicipio" class="collapse" role="tabpanel" aria-labelledby="collapseMunicipioHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Municipios</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/municipios.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseLocalidad" class="collapse" role="tabpanel" aria-labelledby="collapseLocalidadHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Localidades</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/localidades.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseInstitucion" class="collapse" role="tabpanel" aria-labelledby="collapseInstitucionHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Instituciones</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/instituciones.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseEstablecimiento" class="collapse" role="tabpanel" aria-labelledby="collapseEstablecimientoHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Establecimientos</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/establecimientos.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseTipologia" class="collapse" role="tabpanel" aria-labelledby="collapseTipologiaHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Tipologias</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/tipologias.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseUnidades" class="collapse" role="tabpanel" aria-labelledby="collapseUnidadesHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <h4 class="card-title">Unidades</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/CRUDS/unidades.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseLogos" class="collapse" role="tabpanel"  aria-labelledby="collapseLogosHeading" data-parent="#accordion">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                <div class="col text-left">
                                    <h4 class="card-title">Administrador de logos</h4>
                                </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include 'home/Director/editar_logos.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        var table = $('.table').DataTable({
           "responsive": true, 
           "lengthChange": false, 
           "autoWidth": false,
           "dom": 'Bfrtip',
           {% comment %} "buttons": ["copy", "csv", "excel", "pdf", "print"], {% endcomment %}
           "buttons": [{
            "extend": "copy",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "csv",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "excel",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "pdf",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "print",
            "className": "btn-info animation-on-hover"
          },],
          {% comment %} {
            "extend": 'pageLength',
            "text": 'Filas por página',
            "className": "btn-info animation-on-hover"
          }], {% endcomment %}
           "language": {
               url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
           },
           "ordering": true
       });
        {% comment %} $('#addUnidad_localidad').select2({
            includeSelectAllOption: true,
            closeOnSelect: false,
            width: '100%',
            dropdownParent: $('#addUMedicaModal')
        });
        $('#addUnidad_municipio').select2({
            includeSelectAllOption: true,
            closeOnSelect: false,
            width: '100%',
            dropdownParent: $('#addUMedicaModal')
        });
        $('#addUnidad_institucion').select2({
            includeSelectAllOption: true,
            closeOnSelect: false,
            width: '100%',
            dropdownParent: $('#addUMedicaModal')
        });
        $('#addUnidad_tipologia').select2({
            includeSelectAllOption: true,
            closeOnSelect: false,
            width: '100%',
            dropdownParent: $('#addUMedicaModal')
        }); {% endcomment %}
    });
    function editMunicipio(url, clave, nombre, entidad) {
        // Obtener el formulario
        const form = document.getElementById('editMunicipioForm');
      
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editMunicipio_clave').value = clave;
        form.querySelector('#editMunicipio_nombre').value = nombre;
        form.querySelector('#editMunicipio_entidad').value = entidad;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editLocalidad(url, clave, nombre) {
        // Obtener el formulario
        const form = document.getElementById('editLocalidadForm');
      
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editLocalidad_clave').value = clave;
        form.querySelector('#editLocalidad_nombre').value = nombre;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editTipologia(url, clave, nombre) {
        // Obtener el formulario
        const form = document.getElementById('editTipologiaForm');
      
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editTipologia_clave').value = clave;
        form.querySelector('#editTipologia_nombre').value = nombre;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editEntidad(url, clave, nombre) {
        // Obtener el formulario
        const form = document.getElementById('editEntidadForm');
      
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editEntidad_clave').value = clave;
        form.querySelector('#editEntidad_nombre').value = nombre;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editEstablecimiento(url, clave, nombre) {
        // Obtener el formulario
        const form = document.getElementById('editEstablecimientoForm');
      
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editEstablecimiento_clave').value = clave;
        form.querySelector('#editEstablecimiento_nombre').value = nombre;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editJurisdiccion(url, clave, nombre, entidad) {
        // Obtener el formulario
        const form = document.getElementById('editJurisdiccionForm');
      
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editJurisdiccion_clave').value = clave;
        form.querySelector('#editJurisdiccion_nombre').value = nombre;
        form.querySelector('#editJurisdiccion_entidad').value = entidad;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editInstitucion(url, clave, nombre) {
        // Obtener el formulario
        const form = document.getElementById('editInstitucionForm');
      
        // Asignar los valores a los inputs del formulario
        console.log(clave);
        console.log(nombre);
        form.querySelector('#editInstitucion_clave').value = clave;
        form.querySelector('#editInstitucion_nombre').value = nombre;
      
        // Modificar el action del formulario
        form.action = url;
    }

    function editUnidad(url, claveclues, tipologia, establecimiento, institucion, municipio, localidad, jurisdiccion) {
        // Obtener el formulario
        const form = document.getElementById('editUnidadForm');
    
        // Asignar los valores a los inputs del formulario
        form.querySelector('#editUnidad_claveclues').value = claveclues;
        form.querySelector('#editUnidad_tipologia').value = tipologia;
        form.querySelector('#editUnidad_establecimiento').value = establecimiento;
        form.querySelector('#editUnidad_institucion').value = institucion;
        form.querySelector('#editUnidad_municipio').value = municipio;
        form.querySelector('#editUnidad_localidad').value = localidad;
        form.querySelector('#editUnidad_jurisdiccion').value = jurisdiccion;
    
        // Modificar el action del formulario
        form.action = url;
    }
    

    function editLogo(url, id, titulo, logo) {
        // Obtener el formulario
        const form = document.getElementById('editLogoForm');
      
        // Asignar los valores a los inputs del formulario
        console.log(titulo);
        console.log(logo);
        form.querySelector('#editLogo_titulo').value = titulo;
        form.querySelector('#editLogo_logo').value = logo;
      
        // Modificar el action del formulario
        form.action = url;
    }

    {% if presionar %}
        document.getElementById("btn{{ btnPresionar }}").click()
    {% endif %}

</script>
{% endblock javascripts %}
