<div class="card">
    <table class="table table-striped table-hover" id="Logos_tabla">
        <thead>
            <tr>
                <th class="text-center">id</th>
                <th>Titulo</th>
                <th>Fecha de actualización</th>
                <th>Imagen</th>
                {% comment "" %}
                <th>Usuario</th>
                {% endcomment %}
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for logs in Logos %}
            <tr>
                <td class="text-center">{{ logs.id }}</td>
                <td>{{ logs.titulo }}</td>
                <td>{{ logs.actualizado }}</td>
                <td><img src="{{logs.logo.url}}" class="img-responsive" style="height: 80%;float: left; margin-right:1px;"/></td>
                {% comment "" %}
                <td>{{ logs.username }}</td>
                {% endcomment %}
                <td class="td-actions text-center">
                    <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon" data-toggle="modal" data-target="#editLogoModal" title="Editar" onclick="editLogo('{% url 'editLogo' logs.id %}', '{{logs.nombre}}','{{logs.logo}}')">
                        <i class="tim-icons icon-settings"></i>
                    </button>
                    <a href="{% url 'delLogo' logs.pk %}" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon" title="Eliminar">
                        <i class="tim-icons icon-simple-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment "" %}
      <div class="text-right" style="width: 100%;">
            <button class="btn btn-primary btn-fab btn-lg btn-icon btn-round" style="margin: 20px;" title="Opciones"
            data-toggle="modal" data-target="#addLogoModal">
                <i class="tim-icons icon-simple-add"></i>
            </button>
        </div>
    {% endcomment %}
</div>

<!-- MODAL ACT LOGO -->
<div class="modal fade" id="editLogoModal" tabindex="-1" aria-labelledby="editLogoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="editLogoModalLabel">Edición de Logo: {{logs.titulo}}</h2>
        <button class="close" type="button" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form enctype="multipart/form-data"   method="POST" id="editLogoForm"> {% comment  %}action="{% url 'editLogo' %}" {% endcomment %}
          {% csrf_token %}
          <div class="modal-body">
            <div id="errorActualizacion">
            </div>
            {{ formEditLogos }}
            {% for logs in Logos_img %}
                        <div class="col-md-2">
                            <img src="{{logs.Logos.logo.url}}" class="img-responsive" style="width: 100%;float: left; margin-right:10px;"/>
                        </div>
                    {% endfor %}
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal" >Cancelar</button>{% comment  %}onclick="cerrar_modal_actualizar();" onclick="actualizar();"{% endcomment %}
            <button id="boton_actualizar" class="btn btn-primary" type="submit" >Confirmar</button>
          </div>
      </form>
      {% comment "" %}
      <p><a href="{% url 'home/index.html' %}">Regresar</a></p>
      {% endcomment %}
    </div>
  </div>
</div>
{% comment "" %}

<script type="text/javascript">
    function editLogoModal(url){
        $('#editLogo').load(url, function(){
            $(this).modal('show');
        });
    }
</script>

<!-- MODAL AGREGAR Entidad -->
<div class="modal fade" id="addLogoModal" tabindex="-1" aria-labelledby="addLogoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addLogoModalLabel">Agregar nuevo Logo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <form autocomplete="off" action="{% url 'addLogo' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">

                    {{ formAddLogos }}
                    {% for logs in Logos_img %}
                        <div class="col-md-2">
                            <img src="{{logs.Logos.logo.url}}" class="img-responsive" style="width: 100%;float: left; margin-right:10px;"/>
                        </div>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>{% endcomment %}