{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    {% include 'includes/logos.html' %}
    <div class="card">  
        <div class="card-body">
            <div class="progress-container progress-primary" style="text-align: center;">
                <span class="progress-badge">PROGRESO</span>
                <div class="progress mt-1 mb-1">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{ wizard.steps.step1 }}0%;" id="progressBarWidth">
                        <!-- <span class="progress-value">{{ wizard.steps.step1 }}0%</span> -->
                    </div>
                    <script language="Javascript">
                        var customWidth = {{ wizard.steps.step1 }} / {{ wizard.steps.count }} * 100;
                        var div = document.getElementById('progressBarWidth');
                        div.style.width = customWidth + '%';
                     </script>
                </div>
                <p class="text-center">{{ wizard.steps.step1 }}/{{ wizard.steps.count }}</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="" method="post" autocomplete="off">{% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.steps.step1 == 1 %}
                    <div class="text-left">
                        <h2 class="card-title">I - DATOS DEL FALLECIDO(A)</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.nombreFallecido.label}}
                            {% if wizard.form.nombreFallecido.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreFallecido}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.afiliacionServicios.label}}
                            {% if wizard.form.afiliacionServicios.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.afiliacionServicios}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.edadAnio.label}}
                            {% if wizard.form.edadAnio.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.edadAnio}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.edadMes.label}}
                            {% if wizard.form.edadMes.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.edadMes}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.edadDia.label}}
                            {% if wizard.form.edadDia.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.edadDia}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaDefuncion.label}}
                            {% if wizard.form.fechaDefuncion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaDefuncion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.escolaridad.label}}
                            {% if wizard.form.escolaridad.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.escolaridad}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.ocupacion.label}}
                            {% if wizard.form.ocupacion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.ocupacion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.certificadaPor.label}}
                            {% if wizard.form.certificadaPor.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.certificadaPor}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.lugardeResidenciaMuni.label}}
                            {% if wizard.form.lugardeResidenciaMuni.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugardeResidenciaMuni}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.lugardeResidenciaEnti.label}}
                            {% if wizard.form.lugardeResidenciaEnti.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugardeResidenciaEnti}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.lugarDefMuni.label}}
                            {% if wizard.form.lugarDefMuni.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugarDefMuni}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.lugarDefEnti.label}}
                            {% if wizard.form.lugarDefEnti.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugarDefEnti}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.nombreCertificante.label}}
                            {% if wizard.form.nombreCertificante.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreCertificante}}
                        </div>
                    </div>
                {% elif wizard.steps.step1 == 2 %}
                    <div class="text-left">
                        <h2 class="card-title">II - CAUSAS DE DEFUNCIÓN</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{wizard.form.causasDefI.label}}
                            {% if wizard.form.causasDefI.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDefI}}
                        </div>
                        <div class="form-group col-md-3">
                            {{wizard.form.causaDefInterI.label}}
                            {% if wizard.form.causaDefInterI.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInterI}}
                        </div>
                        <div class="form-group col-md-3">
                            {{wizard.form.causaDefCodigoCieI.label}}
                            {% if wizard.form.causaDefCodigoCieI.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCieI}}
                        </div>
                        <div class="form-group col-md-3">
                            {{wizard.form.causaBasicaI.label}}
                            {% if wizard.form.causaBasicaI.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaBasicaI}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDefI2.label}}
                            {% if wizard.form.causasDefI2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDefI2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInterI2.label}}
                            {% if wizard.form.causaDefInterI2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInterI2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCieI2.label}}
                            {% if wizard.form.causaDefCodigoCieI2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCieI2}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDefI3.label}}
                            {% if wizard.form.causasDefI3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDefI3}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInterI3.label}}
                            {% if wizard.form.causaDefInterI3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInterI3}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCieI3.label}}
                            {% if wizard.form.causaDefCodigoCieI3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCieI3}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDefI4.label}}
                            {% if wizard.form.causasDefI4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDefI4}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInterI4.label}}
                            {% if wizard.form.causaDefInterI4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInterI4}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCieI4.label}}
                            {% if wizard.form.causaDefCodigoCieI4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCieI4}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDefII1.label}}
                            {% if wizard.form.causasDefII1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDefII1}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInterII1.label}}
                            {% if wizard.form.causaDefInterII1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInterII1}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCieII1.label}}
                            {% if wizard.form.causaDefCodigoCieII1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCieII1}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDefII2.label}}
                            {% if wizard.form.causasDefII2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDefII2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInterII2.label}}
                            {% if wizard.form.causaDefInterII2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInterII2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCieII2.label}}
                            {% if wizard.form.causaDefCodigoCieII2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCieII2}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.causaVigEpi.label}}
                            {% if wizard.form.causaVigEpi.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaVigEpi}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.causaVigEpiCodigoCie.label}}
                            {% if wizard.form.causaVigEpiCodigoCie.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaVigEpiCodigoCie}}
                        </div>
                    </div>
                {% elif wizard.steps.step1 == 3 %}
                    <div class="text-left">
                        <h2 class="card-title">III - RESULTADOS DE LA INVESTIGACIÓN EPIDEMIOLÓGICA</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.causaVigEpi2.label}}
                            {% if wizard.form.causaVigEpi2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaVigEpi2}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.ratifica.label}}
                            {% if wizard.form.ratifica.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.ratifica}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            {{wizard.form.causasDef2I.label}}
                            {% if wizard.form.causasDef2I.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2I}}
                        </div>
                        <div class="form-group col-md-3">
                            {{wizard.form.causaDefInter2I.label}}
                            {% if wizard.form.causaDefInter2I.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInter2I}}
                        </div>
                        <div class="form-group col-md-3">
                            {{wizard.form.causaDefCodigoCi22I.label}}
                            {% if wizard.form.causaDefCodigoCi22I.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCi22I}}
                        </div>
                        <div class="form-group col-md-3">
                            {{wizard.form.causaBasica2I.label}}
                            {% if wizard.form.causaBasica2I.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaBasica2I}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef2I2.label}}
                            {% if wizard.form.causasDef2I2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2I2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInter2I2.label}}
                            {% if wizard.form.causaDefInter2I2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInter2I2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCie2I2.label}}
                            {% if wizard.form.causaDefCodigoCie2I2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCie2I2}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef2I3.label}}
                            {% if wizard.form.causasDef2I3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2I3}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInter2I3.label}}
                            {% if wizard.form.causaDefInter2I3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInter2I3}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCie2I3.label}}
                            {% if wizard.form.causaDefCodigoCie2I3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCie2I3}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef2I4.label}}
                            {% if wizard.form.causasDef2I4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2I4}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInter2I4.label}}
                            {% if wizard.form.causaDefInter2I4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInter2I4}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCie2I4.label}}
                            {% if wizard.form.causaDefCodigoCie2I4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCie2I4}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef2II1.label}}
                            {% if wizard.form.causasDef2II1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2II1}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInter2II1.label}}
                            {% if wizard.form.causaDefInter2II1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInter2II1}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCie2II1.label}}
                            {% if wizard.form.causaDefCodigoCie2II1.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCie2II1}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef2II2.label}}
                            {% if wizard.form.causasDef2II2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2II2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefInter2II2.label}}
                            {% if wizard.form.causaDefInter2II2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefInter2II2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causaDefCodigoCie2II2.label}}
                            {% if wizard.form.causaDefCodigoCie2II2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaDefCodigoCie2II2}}
                        </div>
                    </div>
                    {% comment %} <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            {{wizard.form.causaVigEpiCodigoCie2.label}}
                            {% if wizard.form.causaVigEpiCodigoCie2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaVigEpiCodigoCie2}}
                        </div>
                    </div> {% endcomment %}


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaRecoleccion.label}}
                            {% if wizard.form.fechaRecoleccion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaRecoleccion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaInicio.label}}
                            {% if wizard.form.fechaInicio.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaInicio}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaConclusion.label}}
                            {% if wizard.form.fechaConclusion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaConclusion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.reporteInegi.label}}
                            {% if wizard.form.reporteInegi.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.reporteInegi}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.observaciones.label}}
                            {% if wizard.form.observaciones.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.observaciones}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.nombreResponsableInv.label}}
                            {% if wizard.form.nombreResponsableInv.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreResponsableInv}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.cargo.label}}
                            {% if wizard.form.cargo.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.cargo}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.firma.label}}
                            {% if wizard.form.firma.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.firma}}
                        </div>
                    </div>
                    
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            procedenciaChanged(); // Ejecutar la función cuando el documento esté listo
                        });
                    </script>

                    {% elif wizard.steps.step1 == 4 %}
                    <div class="text-left">
                        <h2 class="card-title">IV - DATOS DE CONTROL (EXCLUSIVO INEGI)</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.tipoDocumento.label}}
                            {% if wizard.form.tipoDocumento.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.tipoDocumento}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.numPaquete.label}}
                            {% if wizard.form.numPaquete.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.numPaquete}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.numActa.label}}
                            {% if wizard.form.numActa.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.numActa}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.folioCaptura.label}}
                            {% if wizard.form.folioCaptura.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.folioCaptura}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.nombreCodificador.label}}
                            {% if wizard.form.nombreCodificador.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreCodificador}}
                        </div>
                    </div>
                {% endif %}
                <div class="" style="text-align: center">
                    {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" class="btn btn-info animation-on-hover" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>Anterior</button>
                    {% endif %}
                    <input type="submit" class="btn btn-primary animation-on-hover" value="Siguiente" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}