{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    {% include 'includes/logos.html' %}
    <div class="card">  
        <div class="card-body">
            <div class="progress-container progress-primary" style="text-align: center;">
                <span class="progress-badge">PROGRESO</span>
                <div class="progress mt-1 mb-1">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{ wizard.steps.step1 }}0%;" id="progressBarWidth">
                        <!-- <span class="progress-value">{{ wizard.steps.step1 }}0%</span> -->
                    </div>
                    <script language="Javascript">
                        var customWidth = {{ wizard.steps.step1 }} / {{ wizard.steps.count }} * 100;
                        var div = document.getElementById('progressBarWidth');
                        div.style.width = customWidth + '%';
                     </script>
                </div>
                <p class="text-center">{{ wizard.steps.step1 }}/{{ wizard.steps.count }}</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="" method="post" autocomplete="off">{% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.steps.step1 == 1 %}
                    <div class="text-left">
                        <h2 class="card-title">I - DATOS DEL FALLECIDO(A)</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.nombreFallecido.label}}
                            {% if wizard.form.nombreFallecido.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreFallecido}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.institucion.label}}
                            {% if wizard.form.institucion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.institucion}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaDefuncion.label}}
                            {% if wizard.form.fechaDefuncion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaDefuncion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.escolaridad.label}}
                            {% if wizard.form.escolaridad.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.escolaridad}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.ocupacion.label}}
                            {% if wizard.form.ocupacion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.ocupacion}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.lugardeResidenciaMuni.label}}
                            {% if wizard.form.lugardeResidenciaMuni.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugardeResidenciaMuni}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.lugardeResidenciaEnti.label}}
                            {% if wizard.form.lugardeResidenciaEnti.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugardeResidenciaEnti}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.lugarDefMuni.label}}
                            {% if wizard.form.lugarDefMuni.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugarDefMuni}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.lugarDefEnti.label}}
                            {% if wizard.form.lugarDefEnti.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.lugarDefEnti}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.nombreCertificante.label}}
                            {% if wizard.form.nombreCertificante.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreCertificante}}
                        </div>
                    </div>
                {% elif wizard.steps.step1 == 2 %}
                    <div class="text-left">
                        <h2 class="card-title">II - CAUSAS DE DEFUNCIÓN</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.causasDef.label}}
                            {% if wizard.form.causasDef.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.causasDef2.label}}
                            {% if wizard.form.causasDef2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef2}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.causaVigEpi.label}}
                            {% if wizard.form.causaVigEpi.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaVigEpi}}
                        </div>
                    </div>
                {% elif wizard.steps.step1 == 3 %}
                    <div class="text-left">
                        <h2 class="card-title">III - RESULTADOS DE LA INVESTIGACIÓN EPIDEMIOLÓGICA</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.ratifica.label}}
                            {% if wizard.form.ratifica.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.ratifica}}
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{wizard.form.causaVigEpi2.label}}
                            {% if wizard.form.causaVigEpi2.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causaVigEpi2}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef3.label}}
                            {% if wizard.form.causasDef3.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef3}}
                        </div>
                        <div class="form-group col-md-4">
                            {{wizard.form.causasDef4.label}}
                            {% if wizard.form.causasDef4.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.causasDef4}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaRecoleccion.label}}
                            {% if wizard.form.fechaRecoleccion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaRecoleccion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaInicio.label}}
                            {% if wizard.form.fechaInicio.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaInicio}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.fechaConclusion.label}}
                            {% if wizard.form.fechaConclusion.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.fechaConclusion}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.reporteInegi.label}}
                            {% if wizard.form.reporteInegi.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.reporteInegi}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.observaciones.label}}
                            {% if wizard.form.observaciones.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.observaciones}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.nombreResponsableInv.label}}
                            {% if wizard.form.nombreResponsableInv.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreResponsableInv}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.cargo.label}}
                            {% if wizard.form.cargo.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.cargo}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.firma.label}}
                            {% if wizard.form.firma.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.firma}}
                        </div>
                    </div>
                {% elif wizard.steps.step1 == 4 %}
                    <div class="text-left">
                        <h2 class="card-title">IV - DATOS DE CONTROL (EXCLUSIVO INEGI)</h2>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.tipoDocumento.label}}
                            {% if wizard.form.tipoDocumento.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.tipoDocumento}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.numPaquete.label}}
                            {% if wizard.form.numPaquete.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.numPaquete}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{wizard.form.numActa.label}}
                            {% if wizard.form.numActa.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.numActa}}
                        </div>
                        <div class="form-group col-md-6">
                            {{wizard.form.folioCaptura.label}}
                            {% if wizard.form.folioCaptura.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.folioCaptura}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{wizard.form.nombreCodificador.label}}
                            {% if wizard.form.nombreCodificador.field.required %}
                                <span class="text-danger">*</span>
                            {% endif %}
                            {{wizard.form.nombreCodificador}}
                        </div>
                    </div>
                {% endif %}
                <div class="" style="text-align: center">
                    {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" class="btn btn-info animation-on-hover" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>Anterior</button>
                    {% endif %}
                    <input type="submit" class="btn btn-primary animation-on-hover" value="Siguiente" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}