{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    {% include 'includes/logos.html' %}
    <div class="card">  
        <div class="card-body">
            <div class="progress-container progress-primary" style="text-align: center;">
                <span class="progress-badge">PROGRESO</span>
                <div class="progress mt-1 mb-1">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{ wizard.steps.step1 }}0%;" id="progressBarWidth">
                        <!-- <span class="progress-value">{{ wizard.steps.step1 }}0%</span> -->
                    </div>
                    <script language="Javascript">
                        var customWidth = {{ wizard.steps.step1 }} / {{ wizard.steps.count }} * 100;
                        var div = document.getElementById('progressBarWidth');
                        div.style.width = customWidth + '%';
                        console.log(customWidth)
                     </script>
                </div>
                <p class="text-center">{{ wizard.steps.step1 }}/{{ wizard.steps.count }}</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="" method="post" autocomplete="off">{% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.steps.step1 == 1 %}
                    <div class="text-left">
                        <h2 class="card-title">I - IDENTIFICACION DE LA UNIDAD</h2>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{wizard.form.folio.label}}
                        {% if wizard.form.folio.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.folio}}
                    </div>
                </div>
                <div class="form-row">
                    <!-- {{ wizard.form}} -->
                    <div class="form-group col-md-4">
                        {{wizard.form.unidadNot.label}}
                        {% if wizard.form.unidadNot.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.unidadNot}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.cvClue.label}}
                        {% if wizard.form.cvClue.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.cvClue}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.cvSuUni.label}}
                        {% if wizard.form.cvSuUni.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.cvSuUni}}
                    </div>
                </div>
                <div class="form-row">
                    <!-- {{ wizard.form}} -->
                    <div class="form-group col-md-4">
                        {{wizard.form.local.label}}
                        {% if wizard.form.local.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.local}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.municipio1.label}}
                        {% if wizard.form.municipio1.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.municipio1}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.jurisdicEq.label}}
                        {% if wizard.form.jurisdicEq.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.jurisdicEq}}
                    </div>
                </div>
                <div class="form-row">
                    <!-- {{ wizard.form}} -->
                    <div class="form-group col-md-4">
                        {{wizard.form.entOdEL.label}}
                        {% if wizard.form.entOdEL.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.entOdEL}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.institucion.label}}
                        {% if wizard.form.institucion.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.institucion}}
                    </div>
                </div>
                <div class="form-row">
                    <!-- {{ wizard.form}} -->
                    <div class="form-group col-md-4">
                        {{wizard.form.fechaNot.label}}
                        {% if wizard.form.fechaNot.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.fechaNot}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.fechaIni.label}}
                        {% if wizard.form.fechaIni.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.fechaIni}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.fechaFin.label}}
                        {% if wizard.form.fechaFin.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.fechaFin}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{wizard.form.DiaProHep.label}}
                        {% if wizard.form.DiaProHep.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.DiaProHep}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.DiaFin.label}}
                        {% if wizard.form.DiaFin.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.DiaFin}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.otroDia.label}}
                        {% if wizard.form.otroDia.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.otroDia}}
                    </div>
                </div>
                {% elif wizard.steps.step1 == 2 %}
                <div class="text-left">
                    <h2 class="card-title">II - IDENTIFICACION DEL CASO</h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{wizard.form.noAfili.label}}
                        {% if wizard.form.noAfili.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.noAfili}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{wizard.form.nombre.label}}
                        {% if wizard.form.nombre.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.nombre}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.ap.label}}
                        {% if wizard.form.ap.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.ap}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.am.label}}
                        {% if wizard.form.am.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.am}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{wizard.form.sexo.label}}
                        {% if wizard.form.sexo.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.sexo}}
                    </div>
                    <div class="form-group col-md-3">
                        {{wizard.form.fechaNac.label}}
                        {% if wizard.form.fechaNac.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.fechaNac}}
                    </div>
                    <div class="form-group col-md-2">
                        {{wizard.form.anos.label}}
                        {% if wizard.form.anos.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.anos}}
                    </div>
                    <div class="form-group col-md-2">
                        {{wizard.form.meses.label}}
                        {% if wizard.form.meses.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.meses}}
                    </div>
                    <div class="form-group col-md-2">
                        {{wizard.form.dias.label}}
                        {% if wizard.form.dias.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.dias}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        {{wizard.form.calle.label}}
                        {% if wizard.form.calle.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.calle}}
                    </div>
                    <div class="form-group col-md-3">
                        {{wizard.form.num.label}}
                        {% if wizard.form.num.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.num}}
                    </div>
                    <div class="form-group col-md-4">
                        {{wizard.form.colonia.label}}
                        {% if wizard.form.colonia.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.colonia}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{wizard.form.municipio2.label}}
                        {% if wizard.form.municipio2.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.municipio2}}
                    </div>
                    <div class="form-group col-md-2">
                        {{wizard.form.cvMun2.label}}
                        {% if wizard.form.cvMun2.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.cvMun2}}
                    </div>
                    <div class="form-group col-md-3">
                        {{wizard.form.ent2.label}}
                        {% if wizard.form.ent2.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.ent2}}
                    </div>
                    <div class="form-group col-md-2">
                        {{wizard.form.cvEnt2.label}}
                        {% if wizard.form.cvEnt2.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.cvEnt2}}
                    </div>
                    <div class="form-group col-md-2">
                        {{wizard.form.cp2.label}}
                        {% if wizard.form.cp2.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.cp2}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{wizard.form.tel2.label}}
                        {% if wizard.form.tel2.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.tel2}}
                    </div>
                </div>
                {% elif wizard.steps.step1 == 3 %}
                <div class="text-left">
                    <h2 class="card-title">III.a - DATOS CLINICOS</h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{wizard.form.fechaIn3.label}}
                        {% if wizard.form.fechaIn3.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.fechaIn3}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{wizard.form.signoSint3.label}}
                        {% if wizard.form.signoSint3.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.signoSint3}}
                    </div>
                </div>
                <div class="text-left mt-5">
                    <h2 class="card-title">III.b - TRATAMIENTO</h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{wizard.form.tratamiento3.label}}
                        {% if wizard.form.tratamiento3.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                        {{wizard.form.tratamiento3}}
                    </div>
                </div>
                {% elif wizard.steps.step1 == 4 %}  
                    <div class="text-left">
                        <h2 class="card-title">IV. LABORATORIO Y GABINETE</h2>
                    </div>
                    {{ wizard.form.management_form}} 
                    {% for form in wizard.form.forms %}
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                {{form.nombre.label}}
                                {% if form.nombre.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                                {{form.nombre}}
                            </div>
                            <div class="form-group col-md-3">
                                {{form.tipo.label}}
                                {% if form.tipo.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                                {{form.tipo}}
                            </div>
                            <div class="form-group col-md-3">
                                {{form.fecha.label}}
                                {% if form.fecha.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                                {{form.fecha}}
                            </div>
                            <div class="form-group col-md-3">
                                {{form.resultado.label}}
                                {% if form.resultado.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                                {{form.resultado}}
                            </div>
                        </div>
                    {% endfor %}
                        
                {% endif %}
                <div class="" style="text-align: center">
                    {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" class="btn btn-info animation-on-hover" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>Anterior</button>
                    {% endif %}
                    <input type="submit" class="btn btn-primary animation-on-hover" value="Siguiente" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}