{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Casos de Hepatitis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    {% include 'includes/logos.html' %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h2 class="card-title">Casos de Hepatitis</h2>
                        </div>
                    </div>
                        <table class="table table-striped table-hover" id="tabla_casos">
                            <thead>
                                <tr>
                                    <th>Folio del Caso</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Numero de Afiliación</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for formulario in formularios %}
                                <tr>
                                    <td>{{ formulario.id }}</td>
                                    <td>{{ formulario.paciente.nombre }}</td>
                                    <td>{{ formulario.paciente.apellidoPa }} {{ formulario.paciente.apellidoMa }}</td>
                                    <td>{{ formulario.paciente.numAfiliacion }}</td>
                                    <td class="td-actions text-center">
                                        <a href="{% url 'editForm' formulario.id %}" type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                            <i class="tim-icons icon-settings"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <div class="card-body px-3">
                </div>                    
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        var table = $('#tabla_casos').DataTable({
           "responsive": true, 
           "lengthChange": false, 
           "autoWidth": false,
           "dom": 'Bfrtip',
           {% comment %} "buttons": ["copy", "csv", "excel", "pdf", "print"], {% endcomment %}
           "buttons": [{
            "extend": "copy",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "csv",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "excel",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "pdf",
            "className": "btn-info animation-on-hover"
          },
          {
            "extend": "print",
            "className": "btn-info animation-on-hover"
          },],
          {% comment %} {
            "extend": 'pageLength',
            "text": 'Filas por página',
            "className": "btn-info animation-on-hover"
          }], {% endcomment %}
           "language": {
               url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
           },
           "ordering": true
       });
     });
</script>
{% endblock javascripts %}