{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
        {% include 'includes/logos.html' %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="card-title">Usuarios del sistema</h2>
                            </div>
                        </div>
                        </div>
                            <table class="table table-striped table-hover" id="tabla_umedicas">
                                <thead>
                                    <tr>
                                        <th>Formulario Id</th>
                                        <th>Nombre</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for formulario in formularios %}
                                    <tr>
                                        <td>{{ formulario.id }}</td>
                                        <td>{{ formulario.nombre }}</td>
                                        <td>{{ formulario.ap }}</td>
                                        <td>{{ formulario.am }}</td>
                                        <td class="td-actions text-center">
                                            <a href="{% url 'editForm' formulario.id %}" type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                                <i class="tim-icons icon-settings"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        <div class="card-body px-3">
                    </div>                    
                </div>
            </div>
        </div>
    </div>

<div class="card">
    
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}